<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title></title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
      <!-- site css -->
      <link rel="stylesheet" th:href="@{/style.css}" />
      <!-- responsive css -->
      <link rel="stylesheet" th:href="@{/css/responsive.css}" />
      <!-- color css -->
      <link rel="stylesheet" th:href="@{/css/color_2.css}" />
      <!-- select bootstrap -->
      <link rel="stylesheet" th:href="@{/css/bootstrap-select.css}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
      <!-- custom css -->
      <link rel="stylesheet" th:href="@{/css/custom.css}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- right content -->
            <div style="width: 100%; padding-left: 15%; padding-right: 15%;">
               <p>
                  <h1 style="text-align: left;">
                     <span>首页</span>
                  </h1>
                  <h1 style="text-align: right;">
                     <span>登录</span>
                  </h1>
               </p>
               <hr />
               <p>
                  <h2 style="text-align: center">Spring Security Study</h2>
               </p>
               <hr/>
               <div>
                  <span style="width: 33%; padding-right: 10%;">
                     <span style="font-family: 'Microsoft Himalaya'; font-size: 30px">Level1</span>
                     <hr />
                     <a href="/admin/level1/1">Level1 - 1</a>
                     <br />
                     <a href="/admin/level1/2">Level1 - 2</a>
                     <br />
                     <a href="/admin/level1/3">Level1 - 3</a>
                  </span>
                  <span style="width: 33%; padding-right: 10%;">
                     <span style="font-family: 'Microsoft Himalaya'; font-size: 30px">Level2</span>
                     <hr />
                     <a href="/admin/level2/1">Level2 - 1</a>
                     <br />
                     <a href="/admin/level2/2">Level2 - 2</a>
                     <br />
                     <a href="/admin/level2/3">Level2 - 3</a>
                  </span>
                  <span style="width: 33%; padding-right: 10%;">
                     <span style="font-family: 'Microsoft Himalaya'; font-size: 30px">Level3</span>
                     <hr />
                     <a href="/admin/level3/1">Level3 - 1</a>
                     <br />
                     <a href="/admin/level3/2">Level3 - 2</a>
                     <br />
                     <a href="/admin/level3/3">Level3 - 3</a>
                  </span>
               </div>
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script th:src="@{/js/jquery.min.js}"></script>
      <script th:src="@{/js/popper.min.js}"></script>
      <script th:src="@{/js/bootstrap.js}"></script>
      <!-- wow animation -->
      <script th:src="@{/js/animate.js}"></script>
      <!-- select country -->
      <script th:src="@{/js/bootstrap-select.js}"></script>
      <!-- owl carousel -->
      <script th:src="@{/js/owl.carousel.js}"></script>
      <!-- chart js -->
      <script th:src="@{/js/Chart.min.js}"></script>
      <script th:src="@{/js/Chart.bundle.min.js}"></script>
      <script th:src="@{/js/utils.js}"></script>
      <script th:src="@{/js/analyser.js}"></script>
      <!-- nice scrollbar -->
      <script th:src="@{/js/perfect-scrollbar.min.js}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script th:src="@{/js/custom.js}"></script>
      <script th:src="@{/js/chart_custom_style1.js}"></script>
   </body>
</html>